
.header{
    background-color: rgb(32, 71, 97);
    text-shadow: 2px 2px 1px #918e8e;
}
.logo{
    text-align: center;
    font-size: 25pt;
    font-family: 'Lucida Sans', sans-serif;
    padding: 20px;
    color: #cccccc;
}

.menu{
    
    width: 90%;
    margin: 20px  auto;
    padding: 10px;
}

.opciones{
    display: inline-block;
    padding: 5px;
    transition: 0.5s;
}

.opciones:hover{
    background-color: aquamarine;
    transition: 0.5s;
}
.opciones a{
    color: #f0fcfc;
    text-decoration: none;
    list-style: none;
    padding: 5px;
}
.opciones a:hover{
    color: #051818;
}
/*
Cada artículo deberá de ser pre formateado por estilos CSS básicos como:
 Tamaño de tipografía
 Tipo de tipografía
 Enunciación de tipografía
 Color de tipografía
 Sombra de tipografía

*/
#articulo1{
    width: 90%;
    margin: 0  auto;
    font-size: 14pt;
    font-family: Arial, sans-serif;
}

#articulo1 header{
    background-color: rgb(7, 49, 46);
    text-align: center;
    color: #f0fcfc;
    padding: 10px 0 20px 0;
}
#articulo1 h2{
    font-size: 20pt;
    font-style: italic;
    text-shadow: 1px 1px 1px #cccccc;
}

#content-art1{
    width: 90%;
    margin: 0 auto;
}
#list-romana{
    list-style-type: upper-roman;
}
#list-alpha{
    list-style-type: lower-alpha;
}

#footer-art1{
    font-style: italic;
    background-color: rgb(167, 170, 172);
    font-size: 18pt;
    text-align: center;
    color: #051818;
    padding: 10px 0 20px 0;
    margin: 50px auto;
}

/*que le asigne alineación, borde y sombreado*/
.imagen{
    display: block;
    width: 50%;
    margin: 0  auto;
    border: 5px solid rgb(11, 47, 87);
    box-shadow: 20px 10px 10px;    /* Sombra con ligero desenfoque */
}

#articulo2{
    width: 90%;
    margin: 0  auto;
    font-size: 14pt;
    font-family: Arial, sans-serif;
}

#articulo2 header{
    background-color: rgb(7, 15, 49);
    text-align: center;
    color: #f0fcfc;
    padding: 10px 0 20px 0;
}
#articulo2 h2{
    font-size: 20pt;
    font-style: italic;
    text-shadow: 1px 1px 1px #cccccc;
}

#content-art2{
    width: 90%;
    margin: 0 auto;
}
#list-gregorian2{
    list-style-type:georgian;
}
#list-romana2{
    list-style-type: lower-roman;
}
#list-alpha2{
    list-style-type: upper-alpha;
}

#footer-art2{
    
    font-style: italic;
    background-color: rgb(167, 170, 172);
    font-size: 18pt;
    text-align: center;
    color: #051818;
    padding: 10px 0 20px 0;
    margin: 50px auto;
}

#galeria{
    background-color: rgb(87, 127, 150);
    margin: 0 auto;
    width: 90%;
    display: flex;
    padding: 70px 0 70px 0;
}


#galeria img{
    margin: 0 auto;
    width: 30%;
    box-shadow: 10px 10px 10px;    /* Sombra con ligero desenfoque */
}

.formulario{
    
    margin: 15px auto;
    width: 60%;
    padding: 50px 0 50px 0;
}